#CandleStick{
    display: inline-flex;
    width: 70%;
    height: 100%;

    svg{
        margin: auto;
    }

    text{
        fill: black;
    }

    line{
        stroke: #777777;
        stroke-width: 2;
    }

    g{

        line{
            stroke: #999999;
            stroke-width: 1;
        }

        text{
            font-size: 14px;
        }
    }
}