#CandleStick{
    display: inline-flex;
    width: 70%;
    height: 100%;

    svg{
        margin: auto;
    }

    text{
        fill: black;
    }

    line{
        stroke: black;
        stroke-width: 1;
    }
}