#SearchBar{
    display:flex;
    justify-content: center;

    input{
        width: 360px;
        height: 48px;

        border-radius: 50px;
        border: 1px solid #888888;

        padding-left: 20px;

        font-size: 18px;
        font-family: 'Noto Sans KR';

        margin: 0;
    }

    button{
        margin-left: 20px;
    }
}