@font-face {
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('../../assets/fonts/LeferiPointWhiteOblique.ttf');
}

#TopNavigator{
    padding: 20px 40px 0px 40px;
    margin: 0px 74px 0px 74px;

    background-color: #fff;

    #logo{
        font-family: 'LeferiPoint-WhiteObliqueA';
        font-weight: bold;
        font-size: 24px;
    }

    ul{
        font-size: 18px;
        margin: 0;
        padding: 0;
        list-style: none;

        li{
            display: inline-block;

            a{
                color: black;
                text-decoration: none;
                display: inline-block;
                padding: 6px 24px 28px 24px;
            }

            &:first-child{
                margin-right: 42px;
            }
            &:last-child{
                float: right;
            }
        }
    }
}