#login{
    padding-left: 100px;
    padding-top: 60px;

    #title{
        font-size: 24px;
        margin-bottom: 60px;
    }

    &-input{
        label{
            font-size: 18px;
            display: block;
        }
    
        input{
            width: 360px;
            height: 40px;
    
            font-size: 18px;
            padding-left: 12px;
            margin: 20px 0 20px 0;
    
            border: none;
            border-bottom: 2px solid black;
    
            &:focus{
                outline: none;
            }
        }
    }

    button{
        font-size: 18px;
        font-weight: bold;

        width: 340px;
        height: 64px;
        
        margin: 40px 0 40px 0;

        background-color: black;
        color: white;

        &:hover{
            cursor: pointer;
            background-color: #444444;
            // 나중에 바꾸기
        }
    }

    #signup-link{
        width: 340px;
        text-align: center;

        span{
            color: #E0585A;
        }
    }

}