#main{
    padding: 40px 10% 100px 10%;

    #banner{
        height: 300px;
        
        border: 0.05px solid #d7e2eb;
        border-radius: 1rem;
        padding: 2rem 1.5rem 2.5rem 3rem;
    }

    article{
        display: flex;
        justify-content: space-between;
        margin: 70px 0 0 0;

        #left-side{
            width: 22%;
            #rank{
                height: 300px;

                border: 0.05px solid #d7e2eb;
                padding: 1.5rem 1.5rem 1.5rem 1.5rem;
                border-radius: 1rem;
            }
        }
        #center{
            width: 45%;
            height: 100%;

            border: 0.05px solid #d7e2eb;
            padding: 1.5rem 1.5rem 1.5rem 1.5rem;
            border-radius: 1rem;
        }
    
        #right-side{
            width: 22%;
            #notice{
                height: 300px;
                margin-bottom: 40px;

                border: 0.05px solid #d7e2eb;
                padding: 1.5rem 1.5rem 1.5rem 1.5rem;
                border-radius: 1rem;
            }
            #board{
                height: 300px;

                border: 0.05px solid #d7e2eb;
                padding: 1.5rem 1.5rem 1.5rem 1.5rem;
                border-radius: 1rem;
            }
        }
    }

    

}