#main{
    #banner{
        background-color: greenyellow;
    }
    #rank{
        background-color: skyblue;
    }
    #notice{
        background-color: burlywood;
    }
    #board{
        background-color: darkcyan;
    }

}