#watching{
    padding: 0 10% 0 10%;

    #list{
        display: flex;

        #graph{
            width: 10%;
        }
        #name{
            width: 80%;
        }
        #figure{
            width: 10%;
        }
    }
}